<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <link rel="stylesheet" type="text/css" href="styles4.css" >
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" >
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <table class="table table-bordered">
            <colgroup>
                <col width="50%">
                <col width="50%">
            </colgroup>
            <thead>
                <tr>
                    <th>Form</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group mb-0">
                            <label>Text</label>
                            <input v-model="message" type="text" class="form-control">
                        </div>
                    </td>
                    <td>{{ message }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group mb-0">
                            <label>Textarea</label>
                            <textarea v-model="description"
                                        class="form-control"></textarea>
                        </div>
                    </td>
                    <td><pre class="mb-0">{{ description }}</pre></td>
                </tr>
            </tbody>
            </table>

            <table class="table table-bordered">
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Form</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group mb-0">
                                <label>Select</label>
                                <select v-model="framework" class="form-control">
                                    <option value="vue">Vue.js</option>
                                    <option value="react">React</option>
                                    <option value="angular">Angular</option>
                                </select>
                            </div>
                        </td>
                        <td>{{ framework }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Form</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group mb-0">
                        <label>Checkbox</label>
                        <p class="mb-1">
                          <input v-model="tools.webpack"
                                 type="checkbox"
                                 id="check1">
                          <label for="check1">Webpack</label>
                        </p>
                        <p class="mb-1">
                          <input v-model="tools.babel"
                                 type="checkbox"
                                 id="check2">
                          <label for="check2">Babel</label>
                        </p>
                        <p class="mb-0">
                          <input v-model="tools.yarn"
                                 type="checkbox"
                                 id="check3">
                          <label for="check3">Yarn</label>
                        </p>
                      </div>
                    </td>
                    <td><pre>{{ tools }}</pre></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group mb-0">
                        <label>Checkbox 2</label>
                        <p class="mb-1">
                          <input v-model="foods"
                                 type="checkbox"
                                 id="check4"
                                 value="🍕">
                          <label for="check4">Pizza</label>
                        </p>
                        <p class="mb-1">
                          <input v-model="foods"
                                 type="checkbox"
                                 id="check5"
                                 value="🍩">
                          <label for="check5">Donut</label>
                        </p>
                        <p class="mb-0">
                          <input v-model="foods"
                                 type="checkbox"
                                 id="check6"
                                 value="🍣">
                          <label for="check6">Sushi</label>
                        </p>
                      </div>
                    </td>
                    <td>
                      <span v-for="food in foods" class="mr-2">
                        {{ food }}
                      </span>
                    </td>
                  </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Form</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group mb-0">
                        <label>Radio</label>
                        <p class="mb-1">
                          <input v-model="lang" type="radio" id="r1" value="js">
                          <label for="r1">Good</label>
                        </p>
                        <p class="mb-1">
                          <input v-model="lang" type="radio" id="r2" value="php">
                          <label for="r2">PHP</label>
                        </p>
                        <p class="mb-0">
                          <input v-model="lang" type="radio" id="r3" value="html">
                          <label for="r3">HTML</label>
                        </p>
                      </div>
                    </td>
                    <td>{{ lang }}</td>
                  </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Form</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group mb-0">
                        <label>File</label>
                        <input v-model="file" type="file"
                               class="form-control" accept="image/*">
                      </div>
                    </td>
                    <td><pre class="mb-0">{{ file }}</pre></td>
                  </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Form</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-group mb-0">
                        <label>Date</label>
                        <input v-model="birthday" type="date"
                               class="form-control">
                      </div>
                    </td>
                    <td><pre class="mb-0">{{ birthday }}</pre></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group mb-0">
                        <label>Range</label>
                        <input v-model="range" type="range"
                               class="form-control" min="0" max="10">
                      </div>
                    </td>
                    <td>{{ '🍔'.repeat(range) }} ({{ range }})</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="app4.js"></script>
</body>
</html>

